@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-color: #30343F;
}

h2{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #db86ec70;
    text-align: center;
}


